<% if @result_percentage < 85 %>
  <h1>The <%= @test_passage.test.title %> test wasn't passed! :( Your result is:</h1>
  <h2 style="color:red;"><%= format('%.2f', @result_percentage) %> %</h2>
<%else%>
  <h1>The <%= @test_passage.test.title %> test was successfully passed! Congratulations! Your result is:</h1>
  <h2 style="color:green;"><%= format('%.2f', @result_percentage) %> %</h2>
<% end %>

<%= link_to "Back to tests page", tests_path %>
