<% if @test_passage.successfully_passed? %>
  <h1> <%= t('.success_header', title: @test_passage.test.title) %> </h1>
  <div class = "successfull_result">
    <h2><%= format('%.2f', @test_passage.result_percentage) %> %</h2>
  </div>
<% else %>
  <h1> <%= t('.unsuccess_header', title: @test_passage.test.title) %> </h1>
  <div class="unsuccessfull_result">
    <h2><%= format('%.2f', @test_passage.result_percentage) %> %</h2>
  </div>
<% end %>
<%= link_to t('.back'), tests_path %>
