<footer>
  <ul>
    <li> <%= t('.year') %>: <%= current_year %> </li>
    <li> <%= t('.author') %> </li>
    <li> <%= github_url(author: 'Franerial', repo: 'TestGuru') %></li>
    <li> <a href="https://thinknetica.com" target=_blank> <%= t('.project') %> </a></li>
  </ul>
</footer>
