<tr>
  <td><%= question.body %></td>
  <td>
    <%= link_to admin_question_path(question), class: "btn btn-primary" do %>
      <i class="bi bi-eye"> <%= t('.show') %> </i>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_question_path(question), class: "btn btn-success" do %>
      <i class="bi bi-pencil-square"> <%= t('.edit') %> </i>
    <% end %>
  </td>
  <td>
    <%= link_to admin_question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
      <i class="bi bi-trash"> <%= t('.delete') %> </i>
    <% end %>
  </td>
</tr>
