<tr>
  <td class="align-middle text-center">
    <%= content_tag :span, test.title, class: 'test-title', data: {test_id: test.id} %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle text-center"> <%= test_level(test) %> </td>
  <td class="align-middle text-center"> <%= test.category.title %> </td>
  <td class="align-middle text-center"> <%= test.author.email %> </td>
  <td class="align-middle text-center"> <%= test.questions.size %> </td>
  <td class="open_question_field align-middle text-center">
    <%= link_to admin_test_path(test), class: "btn btn-primary" do %>
      <i class="bi bi-eye"> <%= t('.show') %> </i>
    <% end %>
  </td>
  <td class="edit_question_field align-middle text-center">
    <%= link_to edit_admin_test_path(test), class: "btn btn-success form-inline-link", data: { test_id: test.id} do %>
      <i class="bi bi-pencil-square"> <%= t('.edit') %> </i>
    <% end %>
  </td>
  <td class="delete_question_field align-middle text-center">
    <%= link_to admin_test_path(test), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
      <i class="bi bi-trash"> <%= t('.delete') %> </i>
    <% end %>
  </td>
</tr>
