<table class="table table-bordered">
  <tr class="thead-dark">
    <th> <%= t('.title')%> </th>
    <th> <%= t('.level')%> </th>
    <th> <%= t('.category')%> </th>
    <th> <%= t('.author')%> </th>
  </tr>
  <tr>
    <th> <%= @test.title %> </th>
    <th> <%= test_level(@test) %> </th>
    <th> <%= @test.category.title %> </th>
    <th>
      <% if @test.author.present? %>
        <p><%= @test.author.email %></p>
      <% else %>
        <p> <%= t('.no_author')%> </p>
      <% end %>
    </th>
  </tr>
</table>
<br>
<h2> <%= t('.questions')%> </h2>
<table class="table table-bordered">
  <% if @test.questions.present? %>
    <%= render @test.questions %>
  <% else %>
    <p> No questions for this test yet </p>
  <% end %>
</table>
<br>
<table class="table table-borderless" >
  <tr>
    <td> <%= link_to t('.create_new_question'), new_admin_test_question_path(@test), class: 'btn btn-primary' %> </td>
  </tr>
  <tr>
    <td> <%= link_to t('.edit'), edit_admin_test_path(@test), class: 'btn btn-primary' %> </td>
  </tr>
  <tr>
    <td> <%= link_to t('.back'), admin_tests_path, class: 'btn btn-primary' %> </td>
  </tr>
</table>
